* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    background-size: cover;
    background-image: url(./image/bg.jpeg);
  }
  /* GLOBAL */
  
  .container{
    width: 80%;
    margin:auto;
    overflow: hidden;
  }
   ul{
    margin:0;
    padding:0;
  }
  .button_1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20;
    padding-right: 20;
    color: #ffffff;
  }
  .dark{
    padding:15px;
      background: #35424a;
      color: #ffffff;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  /* HEADER */
  header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
  }
  header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  }
  header #branding {
    float: left;
  }
  header #branding h1{
    margin: 0;
    }
  header nav{
    float:right;
    margin-top: 10px;
  }
  header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
  }

  
    
  /* Sidebar */
  aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
  }
  
  aside#sidebar .quote input, aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
  }
  
  /* MAIN-COL */
  article#main-col{
    float: left;
    width: 65%;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    color:red;
    padding: 7px;
    background-color:black;
}
.brand-tittle{
    font-size: 1.5rem;
    margin: .5rem;
    font-weight: bolder;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li .fo{
    text-decoration: none;
    color:red;
    padding: 1rem;
    display: block;
}
.navbar-links li:hover{
    background-color: white;
}
.toggle-button{
    position: absolute;
    top: 0.90rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 33px;
    height: 10px;
}
.toggle-button .bar{
    height: 20px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
.logo{
  width: 100px;
  height: 30px;
  cursor: pointer;
}